@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f7faf9;
}

input, select {
  transition: all 0.2s ease-in-out;
}

input:focus, select:focus {
  transform: scale(1.02);
}
